Repository fauust/lcn: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-prettier, docker-lychee

docker-prettier:
  name: Run prettier with docker
  entry: tmknom/prettier:latest -l
  language: docker_image

docker-lychee:
  name: Run lychee on markdown files with docker
  entry: lycheeverse/lychee
  language: docker_image

Rename directory
  THOUVENOT_andrea/infra_vm/commandevm.sh
  THOUVENOT_andrea/infra_vm/install_mariadb.sh
  THOUVENOT_andrea/infra_vm/install_php.sh
  THOUVENOT_andrea/infra_vm/installapache.sh
  THOUVENOT_andrea/infra_vm/preseed.cfg
  THOUVENOT_andrea/infra_vm/script.sh
  THOUVENOT_andrea/tests/DatabaseSeeder.php
Due: none

Disable prettier
  .pre-commit-config.yaml
Due: docker-prettier

Premier test Cypress operationel
  SebastienJourniac/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Testing "new user" actions list
  augustin/test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

feat: integration-test
  Hugo/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

fixed the file system names
  augustin/test/integration-test/createUser.cy.ts
Due: docker-prettier

add creatuser test with Cypress
  charly/integration-test/cypress/e2e/creatUser.cy.ts
Due: docker-prettier

fixed the file system
  augustin/test/integration-test/createUser.cy.ts
Due: docker-prettier

Second test past !
  SebastienJourniac/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Third test past !
  SebastienJourniac/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Add test for user register and article creation
  axpoty/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Forth test past !
  SebastienJourniac/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Add createUser with all tests OK -
  Vernet_Eddy/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

FEAT: add test file for create user (with Cypress)
  florent/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Make CI happy
  .codespellrc
Due: none

test createUser
  Aurelie/integration_test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

my first integration test is working "To infinity, and beyond!"
  jonathan/integration-test/createUser.cy.ts
Due: docker-prettier

User test with article creation
  Xavier/integration-test/.env
  Xavier/integration-test/cypress.config.ts
  Xavier/integration-test/cypress/e2e/user.cy.ts
Due: docker-prettier

Feat add integration tests
  Philemon/integration-test/cypress/e2e/constant.ts
  Philemon/integration-test/cypress/e2e/myauth.cy.ts
Due: docker-prettier

Integration test (create user)
  mateo/integration-test/cypress/e2e/createUser.cy.ts
Due: docker-prettier

Rename for better bash/UNIX processing
  Geremy/infra_vm/apache.sh
  Geremy/infra_vm/createUser.sh
  Geremy/infra_vm/install.sh
  Geremy/infra_vm/laravel.sh
  Geremy/infra_vm/maria.sh
  Geremy/infra_vm/mydump.sql
  Geremy/infra_vm/postinst.sh
  Geremy/infra_vm/preseed.cfg
  Geremy/infra_vm/welcome.blade.php
  Geremy/tests/DatabaseSeeder.php
  Geremy/tests/tests/Unit/UserTest.php
Due: none

Apparently not used
  ABIDI_Jamil/DatabaseSeeder_NOT_USED.php
Due: none

Implement a global validation script
  validate-tests.sh
Due: none

Add argument parsing
  validate-tests.sh
Due: none

t
  charly/test/tests/Unit/UserTest.php
Due: none

s
  .ci/ArticleController.php
  .github/workflows/integration-test.yml
  .yamllint
Due: docker-prettier

s
  .github/workflows/integration-test.yml
Due: docker-prettier

Try to implement cypress tests in GH CI
  .ci/ArticleController.php
  .github/workflows/integration-test.yml
  .yamllint
Due: docker-prettier

Ansible example
  .yamllint
  examples/ansible/.gitignore
  examples/ansible/Makefile
  examples/ansible/hosts
  examples/ansible/main.yml
  examples/ansible/requirements.txt
  examples/ansible/requirements.yml
  examples/ansible/roles/sshd/defaults/main.yml
  examples/ansible/roles/sshd/handlers/main.yml
  examples/ansible/roles/sshd/tasks/main.yml
  examples/ansible/roles/sshd/templates/issue.j2
  examples/ansible/roles/sshd/templates/motd.j2
  examples/ansible/roles/sshd/templates/sshd_config_Alpine.j2
  examples/ansible/roles/sshd/templates/sshd_config_Debian.j2
  examples/ansible/roles/sshd/vars/Alpine.yml
  examples/ansible/roles/sshd/vars/Debian.yml
Due: docker-prettier

Add variable examples
  examples/ansible/group_vars/all.yml
  examples/ansible/host_vars/myVM1.yml
Due: docker-prettier

Configure ansible
  examples/ansible/ansible.cfg
  examples/ansible/hosts
Due: none

Add ansible lint conf
  examples/ansible/.ansible-lint
  examples/ansible/main.yml
Due: docker-prettier

Use yaml inventory
  examples/ansible/ansible.cfg
  examples/ansible/hosts
  examples/ansible/inventory.yml
Due: docker-prettier

Add hadolint tool to validate Dockerfiles
  .hadolint.yaml
  .pre-commit-config.yaml
Due: docker-prettier

Dockerfile example
  examples/docker/Dockerfile
Due: none

init commit
  Geremy/docker/apache/Dockerfile
  Geremy/docker/apache/myapache.conf
  Geremy/docker/compose.yml
  Geremy/docker/conf/index.html
Due: docker-prettier

Add missing utility
  examples/docker/Dockerfile
Due: none

started working on a 'livrable
  augustin/docker/Notes.md
  augustin/docker/scripts/installDocker.sh
Due: docker-prettier, docker-lychee

Path conditions:
  docker-prettier: any of: \.(css|less|scss|graphql|gql|html|js|jsx|json|md|markdown|mdown|mkdn|mdx|ts|tsx|vue|yaml|yml)$
  docker-lychee: any of: \.(md|markdown|mdown)$
