Repository fauust/lcn: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-lychee, docker-hadolint

docker-lychee:
  name: Run lychee on markdown files with docker
  entry: lycheeverse/lychee
  language: docker_image

docker-hadolint:
  name: Run hadolint with docker
  language: docker_image
  entry: hadolint/hadolint:latest hadolint

Readme
  examples/ansible/README.md
Due: docker-lychee

Bum ansible version for mitogen
  examples/ansible/README.md
  examples/ansible/requirements_mitogen.txt
Due: docker-lychee

Pre-commit for ansible
  examples/ansible/.pre-commit-config.yaml
Due: none

Implement deployment for ScaleWay
  examples/ansible/ansible.cfg
  examples/ansible/group_vars/jah.yml
  examples/ansible/group_vars/teamd.yml
  examples/ansible/inventory.yml
  examples/ansible/main.yml
  examples/ansible/roles/users/defaults/main.yml
  examples/ansible/roles/users/handlers/main.yml
  examples/ansible/roles/users/tasks/main.yml
  examples/ansible/roles/users/tasks/root.yml
  examples/ansible/roles/users/tasks/users.yml
Due: none

Update jah.yml
  examples/ansible/group_vars/jah.yml
Due: none

add Helene' ssh pub key
  examples/ansible/group_vars/jah.yml
Due: none

added team-d keys
  examples/ansible/group_vars/teamd.yml
Due: none

add ssh key pub philémon
  examples/ansible/group_vars/teamd.yml
Due: none

feat: jon's ssh key added
  examples/ansible/group_vars/jah.yml
Due: none

fix : typo
  examples/ansible/group_vars/jah.yml
Due: none

fix : space management
  examples/ansible/group_vars/jah.yml
Due: none

fix : new try
  examples/ansible/group_vars/jah.yml
Due: none

feat: added ansible key
  examples/ansible/group_vars/teamd.yml
Due: none

Move from Scaleway to HZ
  examples/ansible/group_vars/jah.yml
  examples/ansible/group_vars/teamd.yml
  examples/ansible/inventory.yml
  examples/ansible/roles/users/handlers/main.yml
  examples/ansible/roles/users/tasks/root.yml
Due: none

Ajout dernière VM pour le groupe Jah
  examples/ansible/inventory.yml
Due: none

Add molecule for sshd role
  examples/ansible/requirements_molecule.txt
  examples/ansible/roles/sshd/molecule/default/converge.yml
  examples/ansible/roles/sshd/molecule/default/molecule.yml
  examples/ansible/roles/sshd/molecule/default/verify.yml
Due: none

feat: added multi replication monitored, and safe
  mateo/multi-replication/rattrapage/README.md
  mateo/multi-replication/rattrapage/docker-compose.yml
  mateo/multi-replication/rattrapage/fix_permissions.sql
  mateo/multi-replication/rattrapage/grafana-provisioning/dashboards/dashboard.yml
  mateo/multi-replication/rattrapage/grafana-provisioning/dashboards/mariadb-dashboard.json
  mateo/multi-replication/rattrapage/grafana-provisioning/datasources/prometheus.yml
  mateo/multi-replication/rattrapage/image.png
  mateo/multi-replication/rattrapage/main.sh
  mateo/multi-replication/rattrapage/primary01.cnf
  mateo/multi-replication/rattrapage/primary02.cnf
  mateo/multi-replication/rattrapage/prometheus/prometheus.yml
  mateo/multi-replication/rattrapage/setup_replication01.sql
  mateo/multi-replication/rattrapage/setup_replication02.sql
Due: docker-lychee

fix: fix yaml syntax for linters
  mateo/multi-replication/rattrapage/README.md
  mateo/multi-replication/rattrapage/docker-compose.yml
  mateo/multi-replication/rattrapage/grafana-provisioning/dashboards/mariadb-dashboard.json
  mateo/multi-replication/rattrapage/setup_replication01.sql
  mateo/multi-replication/rattrapage/setup_replication02.sql
Due: docker-lychee

feat: added tdd proof of work
  mateo/tdd/.gitignore
  mateo/tdd/Makefile
  mateo/tdd/README.md
  mateo/tdd/fizzbuzz.py
  mateo/tdd/test_fizzbuzz.py
Due: docker-lychee

fix: docker compose multi-replication
  mateo/multi-replication/rattrapage/docker-compose.yml
Due: none

fix: fixed venv initialized with uv
  mateo/tdd/Makefile
Due: none

feat: functional master to master replicaset wasn't so hard just had to do it silently
  augustin/multireplication/1.4/Dockerfile
  augustin/multireplication/1.4/docker-compose.yml
  augustin/multireplication/1.4/entrypoint.sh
  augustin/multireplication/1.4/main.sh
  augustin/multireplication/1.4/mariadb.conf.d1/replication.cnf
  augustin/multireplication/1.4/mariadb.conf.d2/replication.cnf
  augustin/multireplication/1.4/replication-setup1.sql
  augustin/multireplication/1.4/replication-setup2.sql
Due: docker-hadolint

feat: functional master to master replicaset wasn't so hard just had to do it silently
  augustin/multireplication/1.4/main.sh
Due: none

fix: prased be the mighty linter
  augustin/multireplication/1.4/Dockerfile
  augustin/multireplication/1.4/entrypoint.sh
  augustin/multireplication/1.4/main.sh
  augustin/multireplication/1.4/master.cnf
Due: docker-hadolint

fix: better script dehaviour avoid crash on second run by crashing the coker compose at the end of the script
  augustin/multireplication/1.4/main.sh
Due: none

feat: made a script to cover up pre replica synchromization it is a very 'handmade' solution and is not good for larger DB
  augustin/multireplication/1.4/pre-replica-synchronization.sh
Due: none

feat: backup workflow with restic is functional
  augustin/multireplication/1.4/.gitignore
  augustin/multireplication/1.4/Dockerfile
  augustin/multireplication/1.4/docker-compose.backup-strategies.yml
  augustin/multireplication/1.4/pre-replica-synchronization.sh
  augustin/multireplication/1.4/replication-setup1.sql
  augustin/multireplication/1.4/replication-setup2.sql
Due: docker-hadolint

Bump pre-commit version
  .pre-commit-config.yaml
Due: none

Rework pre-commit and Makefile
  .pre-commit-config.yaml
  Makefile
Due: none

Codespell
  .pre-commit-config.yaml
Due: none

Exclude old things
  .pre-commit-config.yaml
Due: none

Bump GH action
  .github/workflows/pre-commit.yml
Due: none

Improve doc deps
  README.md
Due: docker-lychee

Path conditions:
  docker-lychee: any of: \.(md|markdown|mdown)$
  docker-hadolint: any of: Dockerfile
