Repository fauust/lcn: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Path conditions:
  docker-hadolint: any of: Dockerfile
  dockerfilelint: any of: Dockerfile
  docker-prettier: any of: \.(css|less|scss|graphql|gql|html|js|jsx|json|md|markdown|mdown|mkdn|mdx|ts|tsx|vue|yaml|yml)$
  docker-lychee: any of: \.(md|markdown|mdown)$

fix
  .github/workflows/pre-commit.yml
Due: docker-prettier

Bump pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

Add pre-commit tool
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  Makefile
  README.md
Due: docker-prettier, docker-lychee

Add bash library
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  bash.sh
Due: docker-prettier

Le preseed et le script d'installation
  SébastienJourniac/install.sh
  SébastienJourniac/preseed.cfg
Due: none

\# VM creator script with its preseed
  augustin/createVM.sh
  augustin/first_preseed.cfg
Due: none

Lien ssh effectué
  SébastienJourniac/preseed.cfg
Due: none

test pre-commit
  SébastienJourniac/.pre-commit-config.yaml
Due: docker-prettier

On passe la CI On fait des retouches
  SébastienJourniac/Makefile
  SébastienJourniac/bash.sh
  SébastienJourniac/install.sh
  SébastienJourniac/preseed.cfg
Due: none

First commit -- automatisation de la grâce au preseed et au script 'install.sh'
  install.sh
  preseed.cfg
Due: none

just vm
  .gitignore
  .pre-commit-config.yaml
  create-vm.sh
Due: docker-prettier

Oui
  .pre-commit-config.yaml
Due: docker-prettier

Improve documentation
  README.md
Due: docker-prettier, docker-lychee

just vm
  .gitignore
  .pre-commit-config.yaml
Due: docker-prettier

Add editor config for shfmt
  .editorconfig
Due: none

Revert "Improve documentation"
  README.md
Due: docker-prettier, docker-lychee

Remove shfmt linter
  .pre-commit-config.yaml
Due: docker-prettier

first commit
  mateo/preseed.cfg
  mateo/vmDeploy.sh
Due: none

testing the pre-commit tool show me what you have got
  augustin/createVM.sh
Due: none

added .gitignore
  .gitignore
Due: none

VM creator script & preseed
  augustin/createVM.sh
Due: none

FEAT: add bash script and preseed file
  florent/install.sh
  florent/preseed.cfg
Due: none

second commit --- install vm ok
  Vernet_Eddy/install.sh
  Vernet_Eddy/preseed.cfg
Due: none

del
  install.sh
  preseed.cfg
Due: none

init
  axpoty/install.sh
  axpoty/laravel.sh
  axpoty/preseed.cfg
  axpoty/vm-app.conf
Due: none

remove files
  .pre-commit-config.yaml
  Makefile
  bash.sh
Due: docker-prettier

test pre-commit
  florent/.pre-commit-config.yaml
  florent/Makefile
  florent/bash.sh
Due: docker-prettier

added ssh connection script
  .gitignore
  mateo/configureApache.sh
Due: none

FEAT: correcting the code in install.sh
  florent/install.sh
  florent/preseed.cfg
Due: none

automatisation vm
  Aurelie/install.sh
  Aurelie/preseed.cfg
Due: none

first pre-commit
  .idea/.gitignore
  .idea/lcn.iml
  .idea/modules.xml
  .idea/php.xml
  .idea/vcs.xml
  THOUVENOT andrea/preseed.cfg
  THOUVENOT andrea/script.sh
Due: none

change file
  THOUVENOT andrea/.pre-commit-config.yaml
  THOUVENOT andrea/Makefile
  THOUVENOT andrea/bash.sh
  THOUVENOT andrea/preseed.cfg
  THOUVENOT andrea/script.sh
Due: docker-prettier

FEAT: test002 pre-commit
  florent/install.sh
  florent/preseed.cfg
Due: none

preseed file changed as demanded
  .idea/.gitignore
  .idea/lcn.iml
  .idea/modules.xml
  .idea/vcs.xml
  Vernet_Eddy/preseed.cfg
Due: none

test pre-commit
  .pre-commit-config.yaml
  SébastienJourniac/.pre-commit-config.yaml
  SébastienJourniac/Makefile
  SébastienJourniac/bash.sh
Due: docker-prettier
